.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40vh;
  background-color: #f5f5f5;
  flex-direction: column;
  padding: 5px;
  min-width: 80vw;
}
.formClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  background-color: #f5f5f5;
  flex-direction: column;
  padding: 5px;
  min-width: 60vw;
}
.formClassDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background-color: #f5f5f5;
  padding: 5px;
  min-width: 40vw;
}

.jobs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  min-height: 100vh;
}

.imgArrows {
  height: 130px;
  width: 220px;
  position: absolute;
  top: -20.2px;
  left: 28.7vw;
  z-index: 1;
  filter: sepia(80);
  background: #ff00009b;
}

/* .jobd:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 36%;
  height: 100%;
  width: 120px;
  background-color: green;
}
.jobd:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 45%;
  height: 100%;
  width: 120px;
  background-color: red;
} */

.profileMainDiv {
  display: flex;
  min-height: 80vh;
  background-color: #ffffff;
  flex-direction: column;
  min-width: 28%;
  margin-top: 64px;
  margin-left: 10px;
  border-radius: 4px;
  position: fixed;
}
.profileCard {
  display: flex;
  min-height: 80vh;
  background-color: #ffffff;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 5px 2px 5px 2px rgb(68, 68, 68);
  text-align: left;
  padding: 16px;
}
.profileAvatar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 90%;
  color: white;
  background-color: #388e3c;
  border-radius: 16px;
  padding: 16px;
  margin-top: 0px;
}
.profileButton {
  display: flex;
  justify-content: center;
}
